# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/

# Environments
.env
.envrc
.venv
env/
venv/


.DS_Store
Thumbs.db
docs/proposal/*.aux
docs/proposal/*.bbl
docs/proposal/*.blg
docs/proposal/*.log
docs/proposal/*.out
docs/proposal/*.toc
docs/proposal/*.synctex.gz

