# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/

# Environments
.env
.envrc
.venv
env/
venv/


.DS_Store
Thumbs.db
docs/tex/*.aux
docs/tex/*.bbl
docs/tex/*.blg
docs/tex/*.log
docs/tex/*.out
docs/tex/*.toc
docs/tex/*.synctex.gz

